{% extends 'header.html' %}

{% block content %}
<header class="w3-container w3-black w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Parvfection</h1>
    <p class="w3-xlarge">This is Parv Agarwal</p>
    <a href = "#bio" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Who Am I?</a>
  </header>

  
  <!-- First Grid -->
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content" >
      <div class="w3-twothird" id = "bio">
        <h1>Introduction</h1>
        <h5 class="w3-padding-32">A fool really<br>Masochist<br>Overconifdent and Ambitious<br>Belligerent</h5>
  
        <p class="w3-text-grey">That would be an honest description of who I am. But if I was to be the judge<br>
        It would say <br> <br><strong>An Athlete who is obsessed with self development and learning <br>with a mission to leave his mark upon the world.</strong> <br>
        
        <br><br>You decide which is better.</p>
      </div>
  
      <div class="w3-third w3-center">
          {% load static %}
        <img src = {% static "suit.JPG" %} style = "height: 500px;" >
      </div>
    </div>
  </div>
  
  <!-- Second Grid -->
  <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
    <div class="w3-content">
      <div class="w3-third w3-center">
          {% load static %}
        <img src={% static "coffee.png" %}>
      </div>
  
      <div class="w3-twothird">
        <h1>What do I believe?</h1>
        <h5 class="w3-padding-32">I truly believe that anything that you want can be done with persistence. <br>
        I believe that we can learn anything, <br>
      I think that difficulties give meaning to life.<br><br>
    “You have all the fears of mortals and all the desires of immortals” </h5>
  
        <p class="w3-text-grey"></p>
      </div>
    </div>
  </div>
  
  
  
  
  
  </body>
  </html>
  


{% endblock %}
