{% extends 'header.html' %}

{% block content %}

{% load static %}
<link rel = 'stylesheet' href = {% static "style.css" %}>

<header class="w3-container w3-black w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">My Impossible List</h1>
  <p class="w3-xlarge">It's a bucket list with extra steps.</p>
  <a href = "#bio" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">The List</a>
  
</header>

{% load static %}

<img src={% static "implist.jpg" %} align = "left" style = "height: 430px;">
<br><br><br><br><br><br>
<div style= "text-align: center;">
  <h1>A man's worth is no greater than his ambitions</h1><br><br>
  <h2>        -Marcus Aurelius  </h2>
</div>

<br><br><br><br><br><br><br><br><br><br>
<div id = "bio" style="padding-left: 100px;">
  <br><br><br>
  <h1 style="color: Red;"><strong>The List</strong>  </h1>
  <ul>
 
{% for i in imp%}
<br><br><br>
    <li><h2>{{i.name}}</li></h2>
    {% if i.status %}
      <ul style="color: blue;font-size: large;">
        {{i.sub|safe}}
      </ul>
    {% endif %}  
{% endfor %}
  </ul>
  </div>
{% endblock %}



