{% extends 'header.html' %}

{% block content %}
<header class="w3-container w3-black w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Writings</h1>
    <p class="w3-xlarge">The library of my recitals. </p>
    <a href = "#carding" class="w3-button w3-black w3-padding-large w3-large w3-margin-top">See it for yourself</a>
    <br><br>
</header>

{% load static %}
<img src = {% static "write.jpeg" %} style = "height: 450px; " align = "left">
<br><br><br><br>
    <div style = "text-align: center;">
        <h1>  <p>  “There is no greater agony than bearing an untold story inside you.” </h1></p><br><br>

           <h2>            ― Maya Angelou</h2>
    </div>
    <br><br><br><br><br><br><br>

    <div class="card-group" id = "carding">
        {% for i in categories %}
        <div class="card" >
            <div class="card-body">
                <a href = "{{i.slug}}" class="card-title" style="color: black;"><h3>{{i.name}}</h3></a>
                <p class="card-text" ><h4>{{i.description}}</h4></div>
            </div>
        </div>      
        {% endfor %} 
    </div>
</div>



{% endblock %}

